:root {
    --offWhite: #f7f7f7;
    --mainBlack: #000;
    --mainGrey: #B2BEB5;
    --lightGrey: #e8eaf6;
    --hover: #6082B6;
    --mainFontFamily: Verdana, sans-serif;
    --mainTransition: all 0.3s linear;
}

.main-font {
    font-family: var(--mainFontFamily);
}

.btn-link {
    color: blue;
    text-decoration: underline;
}

.card {
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.card-padding {
    padding: 32px;
}

.hidden-link {
    text-decoration: none;
    cursor: pointer;
    color: var(--mainBlack);
}

.hidden-link:visited {
    color: var(--mainBlack);
}

.hidden-link:hover {
    color: var(--mainGrey);
    transition: var(--mainTransition);
}

.container {
    width: 100%; 
    margin-top: 125px;
    display: flex;
    justify-content: center;
}

.content {
    width: 75%;
}

.default-bcg {
    background-color: var(--offWhite);
}

.input {
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:100%
}

.hidden-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.dwv-button {
    background: transparent;
    cursor: pointer;
    border: 1px solid var(--mainGrey);
    color: var(--mainGrey);
    border-radius: 5px;
}

.dwv-button:hover {
    color: var(--hover);
    border: 1px solid var(--hover);
}

#dwv {
    height: 90%;
}
  
.button-row {
    text-align: center;
}
  
/* Layers */
.layerGroup {
    position: relative;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 90%;
}

.layer {
    position: absolute;
    pointer-events: none;
}

.drawDiv {
    position: absolute; pointer-events: none;
}

.dropZone {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    width: 50%;
    padding: 64px;
}
.dropZoneBorder {
    border: 5px dashed var(--lightGrey);
}

.dropZoneBorder.hover {
    border: 5px dashed var(--hover);
}